* {
  font-family: "tahoma", serif;
  color: rgb(19, 19, 19);
}

body {
  margin: 0;
  background: rgb(172, 139, 255);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20em;
}

label {
  padding: 10px;
  margin-left: 20px;
}

button {
  cursor: pointer;
  margin: 25px;
  padding: 2;
  border-radius: 12px;
  font-size: 1.2em;
  border: none;
  background-color: #c7c7c7;
  box-shadow: 5px 5px 10px -3px #29292940, -5px -5px 15px 3px #6d6d6d1f;
}

button:active {
  background-color: #686868;
}
